@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --primary: rgba(250, 250, 249);
  --secondary: rgba(28, 25, 23);
  --tertiary: rgba(41, 37, 36);
  --shadow: rgba(68, 64, 59);
}

.light {
  --primary: rgba(28, 25, 23);
  --secondary: rgba(250, 250, 249);
  --tertiary: rgba(245, 245, 244);
  --shadow: rgba(231, 229, 228);
}
